/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  // background-color: #FBFAE1;
  // background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  background-color: rgb(171, 214, 198);
  background-image: linear-gradient(45deg, rgba(212, 143, 197, 0.48) 10%, rgba(236, 239, 218, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: hidden;
  /* display:flex; */
  /* width: 100vw; */
}

/* h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
} */
.home-carousel {
  max-height: 80vh;
  /* justify-content: middle; */
  /* width: 90vw; */
}

.categories-btn {
  padding-top: 15px;
  /* max-height: 20vh; */
}

.category-btn {
  height: 100px;
  width: 100px;
}

.app-nav-bar {
  background-color: #616161 !important;
}

.product-list-image {
  min-width: 100%;
  height: '180px';
}

.product-list {
  margin-left: 0px;
  overflow-y: auto;
  height: calc(100vh - 64px);
  padding: 5px 10px;
  width: 100vw;
  //margin-right: 2px;
}

.product-list-item {
  padding-top: 20px;
}

.product-card-title {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.product-detail-list {
  width: calc(((100vw/12) * 2) - 10px);
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.customViewer {
  /* border-color: #fa5b35; */
  /* border-width: 1px;
  border-style: solid; */
}
.customViewer > canvas {
  height: calc(100vh - 64px) !important;
  width: calc((100vh - 64px) / 1.4) !important;
}
.customPrevBtn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  width: 48px;
  color: #fa5b35;
  /* background-color: #f3f3f3; */
  border-color: #fa5b35;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}
.customNextBtn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  width: 48px;
  color: #fa5b35;
  background-color: #f3f3f3;
  border-color: #333333;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}
.customPages {
  display: inline-block;
  width: calc((100vw/12) * 10 + 10px);
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.customWrapper {
  height: 34px;
  font-size: 16px;
  /* padding: 12px; */
  padding-bottom: 0;
  /* background-color: #fff; */
}